.greenDisplay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #06474b;
  padding: 1rem;
}

.displayWiever_title {
  color: whitesmoke;
}

.displayWiever_value {
  color: #33c2ae;
  font-size: 2rem;
}

.displayWiever {
  display: flex;
  justify-content: space-between;
}

.buttonReset {
  background-color: #33c2ae;
  color: #06474b;
  border: none;
  border-radius: 5px;
  height: 2rem;
}

.buttonReset:hover {
  background-color: #a2e8df;
}

.tipAmount {
  margin-bottom: 1rem;
}

.small {
  color: #65979a;
}
